#messageArea {
	width: 100%;
    min-height: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black
}

.message {
	background-color: #0e3172;
}
.confirm {
	background-color: #268a22;
}
.warning {
	background-color: #ce8f07;
}
.error {
	background-color: #ac200d;
}
